* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.operator, .calculate{
    background-color: orange;
    color: white;
}

#add, #subtract, #equal {
    font-size: 18px;
}

#display {
    grid-area: display;
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(158, 158, 158);
    color: white;
    font-family: 'Quicksand', sans-serif;
    height: 80px;
}

#display p {
    text-align: right;
    font-size: 48px;
}

#clear {
    grid-area: ac;
}

#sign-change {
    grid-area: sign;
}

#percentage {
    grid-area: percent;
}

#multiply {
    grid-area: multiply;
}

#divide {
    grid-area: divide;
}

#subtract {
    grid-area: minus;
}

#add {
    grid-area: plus;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#zero {
    grid-area: zero;
    text-align: left;
    padding-left: 25px;
    border-radius: 0px 0px 0px 5px;
}

#decimal {
    grid-area: decimal;
}

#equal {
    grid-area: equal;
    border-radius: 0px 0px 5px 0px;
}

.grid-container {
    width: 250px;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 10px;
    display: grid; 
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: auto 55px 55px 55px 55px 55px;
    grid-template-areas: 
    "display display display display"
    "ac sign percent divide"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero decimal equal";
}

.grid-container div {
    border: 1px solid #707070;
    margin-bottom: -1px;
    margin-right: -1px;
    text-align: center;
    padding: 15px;   
}

.grid-container > button {
    border: 1px solid #707070;
    margin-bottom: -1px;
    margin-right: -1px;
    text-align: center;
    padding: 15px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
}

.num-btn-style {
    background-color: rgb(155, 153, 153);
}

.operator-btn-style {
    background-color: rgb(155, 153, 153);
    color: gray;
}
